version: '3.9'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend-kit
      dockerfile: Dockerfile
    ports:
      - "5173:5173" 
    volumes:
      - ./frontend-kit:/app
      - /app/node_modules 
    depends_on:
      - backend
