name: CI Pipeline - Train & Build Check

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    
jobs:
    build-and-test:
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
                cache: 'pip'
            
            - name: Install dependecies
              run: |
                python -m pip install --upgrade pip
                if[ -f backend/requirements.txt ]; then pip install -r backend/requirements.txt; fi
            
            - name: Train Models (Generate Artifacts)
              run: |
                cd backend
                python data_learning.py
                ls -la trained_models/

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build with Docker Compose
              run: docker compose build


